{% extends 'stafftime/base.html' %}

{% block body %}
    <div class="row create_emp">
        <div class="col s10 white">
            <p>Новое расписание</p>
            <form action="{% url 'timeline:create_timeline' %}" method="post">
            {% csrf_token %}
                {{form}}
                <br>
                <button type="submit">Добавить расписание</button>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="{{message.tags}} green-text"> {{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
