{% extends 'stafftime/base.html' %}

{% block body %}
    <div class="row employee">
        <div class="col s9 white">
            <table class="list_emp">
                <caption>Учет посещений сотрудников</caption>
                <thead>
                    <tr>
                        <th><a href="{% url 'timeline:empatt' 'employee__first_name' %}">Сотрудник</a></th>
                        <th><a href="{% url 'timeline:empatt' 'arriving_time' %}">Время прихода</a></th>
                        <th><a href="{% url 'timeline:empatt' 'leaving_time'%}">Время ухода</a></th>
                        <th><a href="{% url 'timeline:empatt' 'current_day'%}">День</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in empatts %}
                        <tr>
                            <td>{{item.employee}}</td>
                            <td>{{item.arriving_time}}</td>
                            <td>{{item.leaving_time}}
                            <td>{{item.current_day}}
                            <a class="delete right" href="{%url 'timeline:delete_empatt' item.id %}"><i class="material-icons">delete</i></a><a class="right" href="{%url 'timeline:edit_empatt' item.id %}"><i class="material-icons">edit</i></a>
                            </td>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if empatts.has_previous %}
                        <a href="?page={{ empatts.previous_page_number }}">Пред.</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ empatts.number }} из {{ empatts.paginator.num_pages }}.
                    </span>

                    {% if empatts.has_next %}
                        <a href="?page={{ empatts.next_page_number }}">След.</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col s3">
            <div>
                <a class="btn-floating btn-medium waves-effect waves-light red" href="{%url 'timeline:create_empatt'%}"><i class="material-icons">add</i></a>
                <span class="add_emp">Добавить запись</span>
            </div>
            <div class="search right">
                <form action="{% url 'timeline:search_by_filter'%}" method="post">
                    {% csrf_token %}
                    {{form}}
                    <br><button class="data_search_btn" type="submit">Посмотреть</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
