{% extends 'smt/base.html' %}

{% block main %}
    <div class="row white" style="border-radius: 2px;">
        <div class="col 9">
            <h5>Word classes and Co-occurences</h5>
            {% if wc_files %}
                <ul class="collection">
                    {% for name in wc_files %}
                    <li class="collection-item">
                        <a href="/smt/{{ name }}"> {{name}} </a>
                        <a href="/smt/{{ name }}/delete" class="delete right"><i class="tiny material-icons">delete</i></a>
                    </li>
                    {% endfor %}
                </ul>
            {%else%}
                <p>No files found</p>
            {% endif %}
        </div>
    </div>

{% endblock %}